* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* header css inicio */
header{
    background-color: #D96C94;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#menu {
 text-decoration: none;
 color: black;
 font-size: 50px;
 padding: 10px;
}

.links-menu a:focus,
.links-menu a:hover {
    background-color: white;

}

.links-menu {
    list-style: none;
    display: none;
}

.links-menu a {
    color: black;
    font-weight: bold;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.links-menu.aberto {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    background-color: white;
}

#logo{
    display: inline-block; /* Transforma o link em um bloco */
    padding: 10px; /* Espaçamento ao redor da imagem */
    text-decoration: none; /* Remove sublinhado padrão */
}

#logoimg {
    width: 100px; /* Largura da imagem */
    height: auto; /* Altura automática para manter a proporção */
    margin-left: 50px;
}

.icons {
    display: flex;
    align-items: center;
}

.iconesimg {
    width: 40px;
    margin-left: 20px;
}

/* header css fim */

/* main css inicio */
/* Carrossel começo */

.carousel {
    position: relative;
    width: 100%;
    max-width: 700px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 100%
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Carrossel fim */

/* produtos inicio*/

.produtos{
    background-color: aliceblue;

    
}

.produto-ind{
    background-color: white;
    border: solid 1px ;
    box-shadow: 2px 2px 10px rgba(0,0,0,0,2);
    border-radius: 10px;
    overflow: hidden;
    margin: 30%;
    height: auto;
}

.img-prod{
    border: solid 1px;
    display: flex;
    margin: 5px;
    height: 160px;
}

.produto-ind p{
    text-align:start;
    font-size: 12px;
    padding-left: 5px;
}


/* produtos fim */
/* main css fim */


/* footer css inicio */

footer {
    background-color: #D96C94;
}

.footer{
    width: 100%;
    padding: 25px 10px;
    display: flex;

}