* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* header css inicio */
header{
    background-color: #D96C94;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#menu {
 text-decoration: none;
 color: black;
 font-size: 50px;
 padding: 10px;
}

.fechar {
    display: none;
}

#logo{
    display: inline-block; /* Transforma o link em um bloco */
    padding: 10px; /* Espaçamento ao redor da imagem */
    text-decoration: none; /* Remove sublinhado padrão */
}

#logoimg {
    width: 100px; /* Largura da imagem */
    height: auto; /* Altura automática para manter a proporção */
    margin-left: 50px;
}

.icons {
    display: flex;
    align-items: center;
}

.iconesimg {
    width: 40px;
    margin-left: 20px;
}

/* header css fim */

/* main css inicio */
/* Carrossel começo */

.carousel {
    position: relative;
    width: 100%;
    max-width: 700px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 100%
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Carrossel fim */
/* main css fim */


/* footer css inicio */

footer {
    background-color: #D96C94;
}

.footer{
    width: 100%;
    padding: 25px 10px;
    display: flex;

}